html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 100%;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
  }
  
  .box1 {
    background-color: #FFEEDD;
  }
  
  .box2 {
    background-color: #DDFFEE;
  }